
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <title>Learn WGPU</title>
    <style>
        canvas {
            background-color: black;
            /*height: 100px;
            width: 100px;*/
        }
    </style>
</head>

<body id="wasm-example">
    <!-- <script type="module" defer> -->
    <script type="module" async>
        import init from "/js/rust_webgpu.js";
        window.onload = (event) => {
            init().then(() => {
                console.log("WASM Loaded");
            });
        }
        // init().then(() => {
        //     console.log("WASM Loaded");
        // });
    </script>
</body>

</html>